# 1. Limpieza y normalizacion y exploracion inicial

## Objetivo
Familiarizarse con los datos de transacciones y entender su estructura:
- Shape, tipos de datos, valores nulos, valores at√≠picos
- Distribuciones de montos y tipos de transacciones
- Identificaci√≥n de patrones iniciales
- Limpiar las columnas y organziar el df

## Dataset
- **Archivos**: `sample_data_0006_part_00.parquet` y `sample_data_0007_part_00.parquet`
- **Ubicaci√≥n**: `../data/`

In [4]:
# Importar librer√≠as necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from pathlib import Path

# Configuraci√≥n para visualizaciones
plt.style.use('default')
sns.set_palette("husl")
warnings.filterwarnings('ignore')

# Configuraci√≥n de pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

print("‚úÖ Librer√≠as importadas correctamente")

‚úÖ Librer√≠as importadas correctamente

## 1. Carga de Datos

Vamos a cargar los dos archivos parquet y verificar si tienen la misma estructura para poder unirlos.

In [5]:
# Definir rutas de los archivos
data_path = Path("../data/")
file1 = data_path / "sample_data_0006_part_00.parquet"
file2 = data_path / "sample_data_0007_part_00.parquet"

# Cargar cada archivo por separado para explorar
print("üìÅ Cargando archivos...")
df1 = pd.read_parquet(file1)
df2 = pd.read_parquet(file2)

print(f"‚úÖ Archivo 1 cargado: {file1.name}")
print(f"   Shape: {df1.shape}")
print(f"‚úÖ Archivo 2 cargado: {file2.name}")
print(f"   Shape: {df2.shape}")

üìÅ Cargando archivos...
‚úÖ Archivo 1 cargado: sample_data_0006_part_00.parquet
   Shape: (10758418, 8)
‚úÖ Archivo 2 cargado: sample_data_0007_part_00.parquet
   Shape: (10758500, 8)

In [6]:
# Verificar estructura de ambos archivos
print("üîç Verificando estructura de los archivos...\n")

print("üìã COLUMNAS ARCHIVO 1:")
print(f"Columnas: {list(df1.columns)}\n")

print("üìã COLUMNAS ARCHIVO 2:")
print(f"Columnas: {list(df2.columns)}\n")

# Verificar si las columnas son iguales
columnas_iguales = list(df1.columns) == list(df2.columns)
print(f"¬øLas columnas son iguales? {columnas_iguales}")

if columnas_iguales:
    print("‚úÖ Los archivos tienen la misma estructura, se pueden unir")
else:
    print("‚ö†Ô∏è Los archivos tienen diferente estructura")

üîç Verificando estructura de los archivos...

üìã COLUMNAS ARCHIVO 1:
Columnas: ['merchant_id', '_id', 'subsidiary', 'transaction_date', 'account_number', 'user_id', 'transaction_amount', 'transaction_type']

üìã COLUMNAS ARCHIVO 2:
Columnas: ['merchant_id', '_id', 'subsidiary', 'transaction_date', 'account_number', 'user_id', 'transaction_amount', 'transaction_type']

¬øLas columnas son iguales? True
‚úÖ Los archivos tienen la misma estructura, se pueden unir

In [7]:
# Unir los datasets
if columnas_iguales:
    print("üîó Uniendo los datasets...")
    df = pd.concat([df1, df2], ignore_index=True)
    print(f"‚úÖ Dataset unificado creado")
    print(f"   Shape final: {df.shape}")
    print(f"   Registros archivo 1: {len(df1)}")
    print(f"   Registros archivo 2: {len(df2)}")
    print(f"   Total registros: {len(df)}")
    
    # Liberar memoria de los dataframes individuales
    del df1, df2
else:
    print("‚ùå No se pueden unir los archivos debido a diferencias en estructura")

üîó Uniendo los datasets...
‚úÖ Dataset unificado creado
   Shape final: (21516918, 8)
   Registros archivo 1: 10758418
   Registros archivo 2: 10758500
   Total registros: 21516918

## 2. Analisis y preprocesamiento del dataset

In [8]:
# Vista r√°pida e informaci√≥n general del dataset
print("üìä INFORMACI√ìN GENERAL DEL DATASET")
print("=" * 60)
print(f"üíæ Memoria utilizada: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

print("\nüìã TIPOS DE DATOS:")
print("-" * 40)
tipo_counts = df.dtypes.value_counts()
for tipo, count in tipo_counts.items():
    print(f"  {tipo}: {count} columnas")

print(f"\nüìù NOMBRES DE LAS COLUMNAS:")
print("-" * 40)
for i, col in enumerate(df.columns, 1):
    print(f"  {i:2d}. {col} ({df[col].dtype})")

print(f"\nPRIMERAS 3 FILAS:")
print("-" * 40)
display(df.head(3))

print(f"\n√öLTIMAS 3 FILAS:")
print("-" * 40)
display(df.tail(3))

üìä INFORMACI√ìN GENERAL DEL DATASET
============================================================
üíæ Memoria utilizada: 12234.13 MB

üìã TIPOS DE DATOS:
----------------------------------------
  object: 7 columnas
  datetime64[ns]: 1 columnas

üìù NOMBRES DE LAS COLUMNAS:
----------------------------------------
   1. merchant_id (object)
   2. _id (object)
   3. subsidiary (object)
   4. transaction_date (datetime64[ns])
   5. account_number (object)
   6. user_id (object)
   7. transaction_amount (object)
   8. transaction_type (object)

PRIMERAS 3 FILAS:
----------------------------------------

                        merchant_id                               _id                        subsidiary    transaction_date                    account_number                           user_id transaction_amount transaction_type
0  075d178871d8d48502bf1f54887e52fe  aa8dacff663072244d0a8ab6bbe36b93  824b2af470cbe6a65b15650e03b740fc 2021-09-12 18:32:03  648e257c9d74909a1f61c54b93a9e1b3  ba42d192a145583ba8e7bf04875f837f       178.33365037          CREDITO
1  075d178871d8d48502bf1f54887e52fe  a53bb81bd0bba2ae2535bda7ea5a550c  2d8d34be7509a6b1262336d036fdb324 2021-09-12 18:31:58  c0b62f9046c83ea5543ea46a497a4d6e  5cfff960ea6d732c1ba3e63d24f3be52        35.66673007          CREDITO
2  075d178871d8d48502bf1f54887e52fe  79f893ea65c06fe2933f3847c88c272f  5eeb18254850b21af0a6bb2697913cd3 2021-09-12 18:31:56  872d10143fc0ac7d5de467806f6bef81  c97e63a92c82c7217b333635d75928ed       142.66692029          CREDITO

√öLTIMAS 3 FILAS:
----------------------------------------

                               merchant_id                               _id                        subsidiary    transaction_date                    account_number                           user_id transaction_amount transaction_type
21516915  838a8fa992a4aa2fb5a0cf8b15b63755  f19c70c14bae6f6c8d53c2a85f5f59f6  55fb0b01915693a7d5de686f9f4b1cb6 2021-11-30 11:01:07  90865ae9ab4d82a1feec13eee9a4a303  356058d6c9548879be6ef65a9733ea44       594.44550123          CREDITO
21516916  838a8fa992a4aa2fb5a0cf8b15b63755  8d43b7b55023ccae39735707a811f38f  55fb0b01915693a7d5de686f9f4b1cb6 2021-11-30 11:02:05  90865ae9ab4d82a1feec13eee9a4a303  356058d6c9548879be6ef65a9733ea44       172.38919535          CREDITO
21516917  838a8fa992a4aa2fb5a0cf8b15b63755  b15c20c071ab0df8fa15c71e4dd35e7d  189977b64fded8e9a37df9fc749fad5c 2021-11-29 14:07:30  528173dc0da13e78938c9e58c5cb3673  9b4a7ac86ed81ad330366e766c739808        47.55564009          CREDITO

In [9]:
# Estad√≠sticas descriptivas b√°sicas
print("üìà ESTAD√çSTICAS DESCRIPTIVAS B√ÅSICAS")
print("=" * 60)

# Columnas categ√≥ricas/texto
text_cols = df.select_dtypes(include=['object', 'string']).columns
print(f"\nüìù Columnas de texto/categ√≥ricas encontradas: {len(text_cols)}")
if len(text_cols) > 0:
    print(f"Columnas: {list(text_cols)}")
    for col in text_cols:
        unique_count = df[col].nunique()
        print(f"\n  üìä {col}:")
        print(f"    Valores √∫nicos: {unique_count:,}")
        print(f"    Tipo: {df[col].dtype}")
        if unique_count <= 20:
            print(f"    Valores: {sorted(df[col].unique())}")
        else:
            print(f"    Primeros 5 valores: {sorted(df[col].unique())[:5]}")
else:
    print("‚ö†Ô∏è No se encontraron columnas de texto")

üìà ESTAD√çSTICAS DESCRIPTIVAS B√ÅSICAS
============================================================

üìù Columnas de texto/categ√≥ricas encontradas: 7
Columnas: ['merchant_id', '_id', 'subsidiary', 'account_number', 'user_id', 'transaction_amount', 'transaction_type']

  üìä merchant_id:
    Valores √∫nicos: 3
    Tipo: object
    Valores: ['075d178871d8d48502bf1f54887e52fe', '817d18cd3c31e40e9bff0566baae7758', '838a8fa992a4aa2fb5a0cf8b15b63755']

  üìä _id:
    Valores √∫nicos: 21,516,901
    Tipo: object
    Primeros 5 valores: ['000000c00a3d728b6b5c1580b4816959', '000002ea806e97f97a6a3d5acd2855b2', '000003f2f33e6a45ce7483113c709aa1', '000004b9c3cb1548d4f9771458dc5582', '0000059697b8090d5079c6f3e475f68b']

  üìä subsidiary:
    Valores √∫nicos: 16,833
    Tipo: object
    Primeros 5 valores: ['00015fd77a0f4d869bea31bb7244e375', '000b48cd239b8411eec69c69963cb5dd', '000ed83916ade2efe9c7ed9c81f6daa5', '0012d2042453597ebcf06140b0e4ec3f', '00130d1dfa59170a208840ea4004f423']

  üìä account_number:
    Valores √∫nicos: 3,099,711
    Tipo: object
    Primeros 5 valores: ['000009a84c209a6a3a97aa0d8d3c5241', '00000f81a1d5583a06a5cb7f4a1cbc0e', '000011b29a455d40b5aea0cfca1aa7f6', '000014fadab387e333d42770d5850019', '00001500d5a76e12b28c233bf1f8718b']

  üìä user_id:
    Valores √∫nicos: 3,087,217
    Tipo: object
    Primeros 5 valores: ['00000158a82e34eb0848d767d09f811d', '000002373d5835d0e53b78722424076f', '000004f4a6f3ac93f454a5dc04b2a252', '00000c80915f64c9bcbf1e85a2e5f3ec', '00000e01abb58a22cbb3cab74c316df7']

  üìä transaction_amount:
    Valores √∫nicos: 28,260
    Tipo: object
    Primeros 5 valores: [Decimal('5.94445501'), Decimal('5.94564390'), Decimal('5.94683279'), Decimal('5.94802168'), Decimal('5.94921057')]

  üìä transaction_type:
    Valores √∫nicos: 2
    Tipo: object
    Valores: ['CREDITO', 'DEBITO']

## Revision y transformacion de los tipos de datos de cada columna

In [10]:
#Transformar columna transaction_date a tipo datetime
df['transaction_date'] = pd.to_datetime(df['transaction_date'], errors='coerce')

# Transformar columna transaction_amount a tipo num√©rico
df['transaction_amount'] = pd.to_numeric(df['transaction_amount'], errors='coerce')

#Transformar transaction_type a tipo categ√≥rico
df['transaction_type'] = df['transaction_type'].astype('category')

#Verificar nuevamente los tipos de datos
print("\nüìã TIPOS DE DATOS DESPU√âS DE TRANSFORMACIONES:")
print("-" * 40)
print(df.dtypes)

üìã TIPOS DE DATOS DESPU√âS DE TRANSFORMACIONES:
----------------------------------------
merchant_id                   object
_id                           object
subsidiary                    object
transaction_date      datetime64[ns]
account_number                object
user_id                       object
transaction_amount           float64
transaction_type            category
dtype: object

## Verificar valores nulos

In [11]:
print("\nüîç VERIFICANDO VALORES NULOS")

nulos = df.isnull().sum()
print(f"Total de columnas con valores nulos: {nulos[nulos > 0].shape[0]}")

üîç VERIFICANDO VALORES NULOS
Total de columnas con valores nulos: 0

## Verificar valores duplicados en IDs que deber√≠an ser √∫nicos (_id)

In [12]:
print("\nüîç VERIFICANDO VALORES DUPLICADOS EN IDs")

duplicados = df['_id'].duplicated().sum()
if duplicados > 0:
    print(f"‚ö†Ô∏è Se encontraron {duplicados} registros duplicados en la columna '_id'")
else:
    print("‚úÖ No se encontraron registros duplicados en la columna '_id'")

üîç VERIFICANDO VALORES DUPLICADOS EN IDs
‚ö†Ô∏è Se encontraron 17 registros duplicados en la columna '_id'

In [13]:
# Revisar los registros duplicados en '_id' manualmente

# 0. Numero de registros totales en la columna '_id'
total_ids = df['_id']
print(f"\nTotal de registros en la columna '_id': {len(total_ids)}")

# 1. Obtener la lista de IDs que aparecen m√°s de una vez
dup_ids = df.loc[df['_id'].duplicated(), '_id'].unique()
print(f"IDs duplicados encontrados ({len(dup_ids)}):\n", dup_ids)

# 2. Filtrar todas las filas con esos IDs para inspecci√≥n
df_dups = df[df['_id'].isin(dup_ids)].sort_values('_id')
display(df_dups)

Total de registros en la columna '_id': 21516918
IDs duplicados encontrados (17):
 ['53f3b7bf5cf7c5509279f385eedca459' '01dd3dc328d6c7e40453c509311f3b74'
 'c52a54da9927f445e5f621d6dac29bf4' '52227fbe95311404092cbc8fbf2d320b'
 'b93a2bb461682a71f593049250e68a4e' '8f5418532506951085466a90e0359377'
 'd737f8d70694471f3061002db7fb2ac1' '243091645de25b8bb86d21d136a0269d'
 'b479a0b93f874544e2003316d0ead444' '7db6492c97f5ca0d9864ec32bda0183c'
 'bd471dba050aed4a5ee64b4da9c50663' 'bcfa23b49bda298316b3738878a7b769'
 'b448e42e5b5e884fb1ae8285c16b9470' 'e81671a3fdbeedbe7e3352fe175b4a6e'
 '0d0791af36d96b466d65636e90e53427' '25288e8d44ecd67907a8f2e3c8343ad6'
 'bdc2f3e73aa4e46f96cc0ed64b0907ed']

                               merchant_id                               _id                        subsidiary    transaction_date                    account_number                           user_id  transaction_amount transaction_type
709845    075d178871d8d48502bf1f54887e52fe  01dd3dc328d6c7e40453c509311f3b74  62c21974aa375cd2689a8e883520c9da 2021-09-17 16:19:28  1fdcb18a9c87137a828cf01e5505e165  ad5fade2b0f886d802c910ac58f69835          118.889100          CREDITO
709846    075d178871d8d48502bf1f54887e52fe  01dd3dc328d6c7e40453c509311f3b74  62c21974aa375cd2689a8e883520c9da 2021-09-17 16:19:27  1fdcb18a9c87137a828cf01e5505e165  ad5fade2b0f886d802c910ac58f69835          118.889100          CREDITO
21378370  838a8fa992a4aa2fb5a0cf8b15b63755  0d0791af36d96b466d65636e90e53427  e6a32882c99aab1d92ae297da67402ed 2021-08-24 14:58:49  8aff7eb98beb9a548f77084c4c918e6d  a92f26f05f04a760b44fbc3bad3c63c9          130.778010          CREDITO
21378369  838a8fa992a4aa2fb5a0cf8b15b63755  0d0791af36d96b466d65636e90e53427  e6a32882c99aab1d92ae297da67402ed 2021-08-24 14:58:49  8aff7eb98beb9a548f77084c4c918e6d  a92f26f05f04a760b44fbc3bad3c63c9          130.778010          CREDITO
11251792  075d178871d8d48502bf1f54887e52fe  243091645de25b8bb86d21d136a0269d  ec74b26befb0decad98a1679527c8740 2021-06-03 13:04:05  966fc01b4652738ba1d299277357939b  6dd128b5ccd1b920f6c7a80525f99165           71.333460          CREDITO
11164594  075d178871d8d48502bf1f54887e52fe  243091645de25b8bb86d21d136a0269d  ec74b26befb0decad98a1679527c8740 2021-06-03 13:04:05  966fc01b4652738ba1d299277357939b  6dd128b5ccd1b920f6c7a80525f99165           71.333460          CREDITO
21394428  838a8fa992a4aa2fb5a0cf8b15b63755  25288e8d44ecd67907a8f2e3c8343ad6  5b526b634874a82bba8a08fe47087da3 2021-08-04 16:55:02  79307eeb61bde70c1fc6b601d5ea99d9  51641aec649e32ea4d224a49c2c1055e          154.555830          CREDITO
21394427  838a8fa992a4aa2fb5a0cf8b15b63755  25288e8d44ecd67907a8f2e3c8343ad6  5b526b634874a82bba8a08fe47087da3 2021-08-04 16:55:03  79307eeb61bde70c1fc6b601d5ea99d9  51641aec649e32ea4d224a49c2c1055e          154.555830          CREDITO
1156450   075d178871d8d48502bf1f54887e52fe  52227fbe95311404092cbc8fbf2d320b  024b459a0851f51d731099ac10d1b30a 2021-08-26 14:58:58  8495c31cd0ba9c1c6ccf493cdf0e3558  6405b4845df13af0ca2f03714ff486c2          475.556401          CREDITO
1156451   075d178871d8d48502bf1f54887e52fe  52227fbe95311404092cbc8fbf2d320b  024b459a0851f51d731099ac10d1b30a 2021-08-26 14:58:58  8495c31cd0ba9c1c6ccf493cdf0e3558  6405b4845df13af0ca2f03714ff486c2          475.556401          CREDITO
344544    075d178871d8d48502bf1f54887e52fe  53f3b7bf5cf7c5509279f385eedca459  09f6be1ff97081582f7ae1b4aa8e163e 2021-08-23 10:49:08  669223a6679cd07a026f97fe4b197651  157b9aa3eb0ad227e4580095c4e4e721           63.011223          CREDITO
344545    075d178871d8d48502bf1f54887e52fe  53f3b7bf5cf7c5509279f385eedca459  09f6be1ff97081582f7ae1b4aa8e163e 2021-08-23 10:49:08  669223a6679cd07a026f97fe4b197651  157b9aa3eb0ad227e4580095c4e4e721           63.011223          CREDITO
11774579  075d178871d8d48502bf1f54887e52fe  7db6492c97f5ca0d9864ec32bda0183c  3ee39ae266029599dd3cc39a6d8c9de2 2021-08-03 10:37:42  11bd967c89c8021cd17cc8ca85cc32c9  c7243c2e9a8dd078397d0b4f34cd3819           59.444550          CREDITO
11774578  075d178871d8d48502bf1f54887e52fe  7db6492c97f5ca0d9864ec32bda0183c  3ee39ae266029599dd3cc39a6d8c9de2 2021-08-03 10:37:42  11bd967c89c8021cd17cc8ca85cc32c9  c7243c2e9a8dd078397d0b4f34cd3819           59.444550          CREDITO
9787202   838a8fa992a4aa2fb5a0cf8b15b63755  8f5418532506951085466a90e0359377  6c8343dbee2910b629ff68d9a66543d2 2021-09-08 10:20:40  e3fe1835484bf56eea4bbdd7d97c3f27  6866c2ba6962fced9e8275bc505ef914          594.445501          CREDITO
9787201   838a8fa992a4aa2fb5a0cf8b15b63755  8f5418532506951085466a90e0359377  6c8343dbee2910b629ff68d9a66543d2 2021-09-08 10:20:40  e3fe1835484bf56eea4bbdd7d97c3f27  6866c2ba6962fced9e8275bc505ef914          594.445501          CREDITO
19742813  838a8fa992a4aa2fb5a0cf8b15b63755  b448e42e5b5e884fb1ae8285c16b9470  e5018b197c93e001e498eca11586965a 2021-09-18 19:04:00  2b817c98f58c184f04e307bbad94dd7c  593c59b87b8edfdfa003c284ade0e116           11.888910          CREDITO
19742812  838a8fa992a4aa2fb5a0cf8b15b63755  b448e42e5b5e884fb1ae8285c16b9470  e5018b197c93e001e498eca11586965a 2021-09-18 19:04:00  2b817c98f58c184f04e307bbad94dd7c  593c59b87b8edfdfa003c284ade0e116           11.888910          CREDITO
11364965  075d178871d8d48502bf1f54887e52fe  b479a0b93f874544e2003316d0ead444  23c5fbde74df495a70492cf20464c3d3 2021-09-16 12:11:57  3cc9142d0c509c7bf3a087fb7c4b86e5  aa3b170a9db5452ff34583902f84549d          237.778200          CREDITO
11364966  075d178871d8d48502bf1f54887e52fe  b479a0b93f874544e2003316d0ead444  23c5fbde74df495a70492cf20464c3d3 2021-09-16 12:11:57  3cc9142d0c509c7bf3a087fb7c4b86e5  aa3b170a9db5452ff34583902f84549d          237.778200          CREDITO
1304669   075d178871d8d48502bf1f54887e52fe  b93a2bb461682a71f593049250e68a4e  da3fd12109b5ca658dae0e3c7906a295 2021-08-27 15:43:21  b5bd0f7cbf4d757287cd200d77a5a3cb  0c2cb49e26661d64eb28a05704c484d2           47.555640          CREDITO
1304668   075d178871d8d48502bf1f54887e52fe  b93a2bb461682a71f593049250e68a4e  da3fd12109b5ca658dae0e3c7906a295 2021-08-27 15:43:22  b5bd0f7cbf4d757287cd200d77a5a3cb  0c2cb49e26661d64eb28a05704c484d2           47.555640          CREDITO
12111627  075d178871d8d48502bf1f54887e52fe  bcfa23b49bda298316b3738878a7b769  95e0e4ec37b602dd92186f41c1190aa0 2021-09-09 14:20:11  28edbd4c14539d19f86fe5962158e44f  95a5b4a953659b7737d62a609d43f921           95.111280          CREDITO
12111628  075d178871d8d48502bf1f54887e52fe  bcfa23b49bda298316b3738878a7b769  95e0e4ec37b602dd92186f41c1190aa0 2021-09-09 14:20:12  28edbd4c14539d19f86fe5962158e44f  95a5b4a953659b7737d62a609d43f921           95.111280          CREDITO
12074813  075d178871d8d48502bf1f54887e52fe  bd471dba050aed4a5ee64b4da9c50663  775d5f9dab078c1b9388d0b3efa8810b 2021-10-01 14:24:34  fcacd5486f8c9e2cb6529b2df0abdfc1  1e81e5e38ed69f0cb4ac2ab6a4e8af54           35.666730          CREDITO
12074814  075d178871d8d48502bf1f54887e52fe  bd471dba050aed4a5ee64b4da9c50663  775d5f9dab078c1b9388d0b3efa8810b 2021-10-01 14:24:34  fcacd5486f8c9e2cb6529b2df0abdfc1  1e81e5e38ed69f0cb4ac2ab6a4e8af54           35.666730          CREDITO
21443028  838a8fa992a4aa2fb5a0cf8b15b63755  bdc2f3e73aa4e46f96cc0ed64b0907ed  2f52cb3336c93e6961fde4db9690953b 2021-11-09 20:20:51  417c4ccf64445357f75ed67969ed28e5  179b570da28d71c70dbe09b0d0f07a3a           59.444550          CREDITO
21443029  838a8fa992a4aa2fb5a0cf8b15b63755  bdc2f3e73aa4e46f96cc0ed64b0907ed  2f52cb3336c93e6961fde4db9690953b 2021-11-09 20:20:50  417c4ccf64445357f75ed67969ed28e5  179b570da28d71c70dbe09b0d0f07a3a           59.444550          CREDITO
1004305   075d178871d8d48502bf1f54887e52fe  c52a54da9927f445e5f621d6dac29bf4  ef6ca49817c5526c145d3cf89b79ba5b 2021-08-03 16:10:10  4e355451697d9365322913f3e4117503  4e6b357a05727beeb7d7faf836554683           23.777820          CREDITO
1004304   075d178871d8d48502bf1f54887e52fe  c52a54da9927f445e5f621d6dac29bf4  ef6ca49817c5526c145d3cf89b79ba5b 2021-08-03 16:10:11  4e355451697d9365322913f3e4117503  4e6b357a05727beeb7d7faf836554683           23.777820          CREDITO
10519717  838a8fa992a4aa2fb5a0cf8b15b63755  d737f8d70694471f3061002db7fb2ac1  fb06b4a71938b984fc729784c1db0fca 2021-09-05 15:44:13  79f3ffcf1cdf1d6e7166e9ef87d64247  cb5364b29887ac940a8fc0eb02f7e6e4           99.866844          CREDITO
10519716  838a8fa992a4aa2fb5a0cf8b15b63755  d737f8d70694471f3061002db7fb2ac1  fb06b4a71938b984fc729784c1db0fca 2021-09-05 15:44:13  79f3ffcf1cdf1d6e7166e9ef87d64247  cb5364b29887ac940a8fc0eb02f7e6e4           99.866844          CREDITO
21258932  838a8fa992a4aa2fb5a0cf8b15b63755  e81671a3fdbeedbe7e3352fe175b4a6e  b660963ca894ffd4472ee986e485011a 2021-09-09 15:29:46  0bc52aa17bf6da99789fdbcf8e427053  6fcb62d7b9267e63b1ee530d6def6340           23.777820          CREDITO
21258934  838a8fa992a4aa2fb5a0cf8b15b63755  e81671a3fdbeedbe7e3352fe175b4a6e  b660963ca894ffd4472ee986e485011a 2021-09-09 15:29:46  0bc52aa17bf6da99789fdbcf8e427053  6fcb62d7b9267e63b1ee530d6def6340           23.777820          CREDITO

Despues de revisara a detalle NO es un ‚Äúdoble pago‚Äù real, sino un retry o duplicaci√≥n en la capa de ingesti√≥n del banco.
Todas tienen la misma fecha y hora a excepci√≥n de una que tiene un segundo de diferencia.
Por lo tanto, podemos eliminarlas sin problema el primer registro de cada ID duplicado.

In [14]:
print("\nüîÑ ELIMINANDO REGISTROS DUPLICADOS EN '_id'")

df = df.drop_duplicates(subset=['_id'], keep='first').reset_index(drop=True)
print(f"‚úÖ Duplicados de _id eliminados. Nuevo shape: {df.shape}")

# Verificar nuevamente los valores duplicados
duplicados = df['_id'].duplicated().sum()
print(f"Total de registros duplicados en '_id' despu√©s de limpieza: {duplicados}")

üîÑ ELIMINANDO REGISTROS DUPLICADOS EN '_id'
‚úÖ Duplicados de _id eliminados. Nuevo shape: (21516901, 8)
Total de registros duplicados en '_id' despu√©s de limpieza: 0

## Valores fuera de rango o invalidos

In [15]:
# 1. Montos <= 0
mask_amount_non_positive = df['transaction_amount'] <= 0
count_amount_non_positive = mask_amount_non_positive.sum()
pct_amount_non_positive = count_amount_non_positive / len(df) * 100
print(f"‚ùå Montos ‚â§ 0: {count_amount_non_positive} filas")

‚ùå Montos ‚â§ 0: 0 filas

In [16]:
# 2. Fechas fuera de rango

fecha_min = df['transaction_date'].min()
fecha_max = df['transaction_date'].max()
print(f"üìÖ Fecha m√≠nima: {fecha_min}")
print(f"üìÖ Fecha m√°xima: {fecha_max}")
mask_date_before = df['transaction_date'] < fecha_min
mask_date_after  = df['transaction_date'] > fecha_max
count_date_bad = (mask_date_before | mask_date_after).sum()
pct_date_bad = count_date_bad / len(df) * 100
print(f"‚ùå Fechas fuera de [{fecha_min}] / [{fecha_max}]: {count_date_bad} filas")

üìÖ Fecha m√≠nima: 2021-01-01 00:00:40
üìÖ Fecha m√°xima: 2021-11-30 23:59:49
‚ùå Fechas fuera de [2021-01-01 00:00:40] / [2021-11-30 23:59:49]: 0 filas

## IDs Inesperados

In [17]:
# Verificar IDs inesperados o con formato incorrecto
print("\nüîç VERIFICANDO IDs INESPERADOS")
print("=" * 60)

# Verificar longitud est√°ndar de los IDs
id_lengths = df['_id'].str.len()
length_counts = id_lengths.value_counts().sort_index()
print(f"üìè Distribuci√≥n de longitudes de IDs:")
for length, count in length_counts.items():
  pct = count / len(df) * 100
  print(f"   Longitud {length}: {count:,} IDs ({pct:.2f}%)")

# Verificar si todos los IDs son hexadecimales (solo caracteres 0-9, a-f)
pattern_hex = r'^[0-9a-f]+$'
mask_not_hex = ~df['_id'].str.match(pattern_hex, na=False)
count_not_hex = mask_not_hex.sum()
print(f"\nüî§ IDs que NO son hexadecimales: {count_not_hex}")

if count_not_hex > 0:
  print("   Ejemplos de IDs no hexadecimales:")
  ejemplos_no_hex = df.loc[mask_not_hex, '_id'].head(5).tolist()
  for ejemplo in ejemplos_no_hex:
    print(f"     {ejemplo}")

# Verificar IDs con caracteres especiales o espacios
mask_special_chars = df['_id'].str.contains(r'[^0-9a-fA-F]', na=False)
count_special_chars = mask_special_chars.sum()
print(f"\n‚ö†Ô∏è IDs con caracteres especiales: {count_special_chars}")

if count_special_chars > 0:
  print("   Ejemplos de IDs con caracteres especiales:")
  ejemplos_especiales = df.loc[mask_special_chars, '_id'].head(5).tolist()
  for ejemplo in ejemplos_especiales:
    print(f"     '{ejemplo}'")

üîç VERIFICANDO IDs INESPERADOS
============================================================
üìè Distribuci√≥n de longitudes de IDs:
   Longitud 32: 21,516,901 IDs (100.00%)

üî§ IDs que NO son hexadecimales: 0

‚ö†Ô∏è IDs con caracteres especiales: 0

## Exportar Dataset Limpio

Guardamos el DataFrame limpio y procesado para usarlo en el siguiente notebook de an√°lisis descriptivo.

In [18]:
# Exportar el DataFrame limpio para usar en el siguiente notebook
from pathlib import Path

# Crear directorio de salida si no existe
output_path = Path("../outputs/")
output_path.mkdir(exist_ok=True)

# Guardar el DataFrame limpio como un archivo parquet
parquet_file = output_path / "df_clean.parquet"
df.to_parquet(parquet_file, index=False)

print("DATASET EXPORTADO EXITOSAMENTE")

DATASET EXPORTADO EXITOSAMENTE